# OS-specific
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE configs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debug files
*.log
error_log

# Temp and backup files
*.swp
*.bak
*.tmp

# Node and Composer (if ever used)
node_modules/
vendor/

# Git
.gitignore
.gitattributes
